@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.SquareAdd {
  width: 25rem;
  height: 18.75rem;
  background-color: #ffffff;
  text-align: center;
  border-radius: 0.313rem;
  border: 0.125rem solid #094067;
  box-shadow: -0.375rem 0.375rem #90b4ce;
  cursor: pointer;
}

.Icon {
  color: #094067;
}

.TitleNew {
  width: 12.219rem;
  height: 5.083rem;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  color: #5f6c7b;
}

.DivTitle {
  padding-top: 1.875rem;
}

.DivIcon {
  padding-top: 2.5rem;
}
