@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.AreaTitleAP {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-size: 6rem;
  color: #094067;
}

.AllTitleAP {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  color: #5f6c7b;
}

.RectangleAP {
  padding: 3.438rem;
}

.MainDivAP {
  display: flex;
}

.RightSideAP {
  padding-left: 12.5rem;
  padding-top: 1.875rem;
}

.ButtonLinkAP {
  padding-top: 2.813rem;
}
