@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.ContainerEnterInfo {
  margin-top: 9rem;
  margin-left: 13rem;
  position: absolute;
}
.ContainerRightPanel {
  margin-top: 13rem;
  margin-left: 75rem;
  position: absolute;
}
