@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.ButtonLinkH {
  padding-top: 28.125rem;
  padding-bottom: 0.625rem;
}

.ButtonSignH {
  padding-top: 28.125rem;
}

.AreaTitleH {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-size: 6rem;
  color: #094067;
}

.AllTitleH {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  color: #5f6c7b;
}

.SecondDivH {
  width: 21.875rem;
  height: 50rem;
  padding-top: 6.25rem;
  padding-left: 12.5rem;
}

.DivHomeHM {
  display: flex;
}

.DivAddHM {
  padding-top: 6.25rem;
  padding-left: 3.125rem;
  width: 67.875rem;
}

.CreateButtonH {
  width: 21.875rem;
  height: 4.688rem;
}

.LinkButtonH {
  width: 21.875rem;
  height: 4.688rem;
}
